appnope 
asttokens
backcall 
backports.functools-lru-cache
comm
debugpy
decorator
entrypoints
exceptiongroup
executing 
ipykernel 
ipython 
jedi 
jupyter-client 
jupyter_core 
matplotlib-inline 
nest-asyncio 
numpy==1.26.0
opencv-python==4.8.1.78
packaging 
pandas==2.1.1
parso 
pexpect 
pickleshare 
Pillow==10.0.1
platformdirs 
prompt-toolkit
psutil 
ptyprocess
pure-eval
Pygments 
python-dateutil 
pytz==2023.3.post1
pyzmq 
six 
smart-open==6.4.0
stack-data
tornado 
tqdm==4.66.1
traitlets  
typing_extensions  
tzdata==2023.3
wcwidth
